@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/btn.scss';
@import '../../../config-scss/animation.scss';

:host {
  .pokemon {
    width: rem-calc(600);

    &__names {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column-reverse;

      margin-right: rem-calc(10);

      h1 {
        font-weight: 900;
        color: white;
        font-style: italic;
        font-size: rem-calc(32);
        margin: 0;
      }

      h2 {
        position: relative;
        top: rem-calc(30);
        font-size: rem-calc(60);
        color: rgba($color: white, $alpha: 0.1);
        margin: 0;
      }
    }

    &__image {
      img {
        display: flex;
        position: relative;
        top: rem-calc(-120);
        height: rem-calc(150);
        z-index: 1;
      }
    }

    &__statistics {
      margin-top: rem-calc(10);
      background: white;
      padding: rem-calc(35);
      border-radius: rem-calc(50);

      h2 {
        font-size: rem-calc(32);
        font-style: italic;
        text-decoration: underline;
        font-weight: 900;
        color: var(--secondary-color);
        margin-top: rem-calc(-100);

      }

      strong {
        font-weight: 900;
      }

      ol {
        margin-top: rem-calc(20);

        li {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .pokemon {
      margin: 0 rem-calc(20);
      width: rem-calc(300);

      &__names{
        margin-bottom: rem-calc(100);

        h2{
          font-size: rem-calc(50);

        }
      }

      &__statistics{
        margin-top: rem-calc(60);
      }
    }
  }
}
