<poke-search (emitSearch)="search($event)"></poke-search>
<section class="list">
  <ng-template ngFor let-pokemon [ngForOf]="filter">
    <a
      [routerLink]="['details', pokemon.status.id]"
      class="pokemon"
      *ngIf="pokemon.status"
    >
      <section class="pokemon__status slideInRight">
        <h2>{{ pokemon.name }}</h2>
        <ul class="pokemon__status">
          <li *ngFor="let type of pokemon.status.types">
            {{ type.type.name }}
          </li>
        </ul>
      </section>
      <div class="pokemon__image slideInDown">
        <img
          [src]="pokemon.status.sprites.other.dream_world.front_default"
          [alt]="pokemon.name"
        />
      </div>
    </a>
  </ng-template>

  <ng-template *ngIf="!search">
    <section class="btns">
      <button class="btn" id="next" (click)="changePageTo(nextPage)">
        Avançar
      </button>
      <ng-template [ngIf]="previousPage">
        <button class="btn" id="previous" (click)="changePageTo(previousPage)">
          Voltar
        </button>
      </ng-template>
    </section>
  </ng-template>
</section>
